    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 about-text">
                <h1>À propos de DEVINE</h1>
              </br>

              <img class="photo-equipe" src="img/photo_equipe.jpg" alt="PhotoEquipe">

              <p>
                Le projet DEVINE est composé d’une équipe de huit finissants en génie
                informatique et électrique de l’Université de Sherbrooke.
              </p>

              <p>
                Le groupe a pour mission d’intégrer dans un robot un agent intelligent qui
                peut interagir avec un humain par le jeu collaboratif initulé <a href="https://guesswhat.ai" alt="Site officiel de l'engin GuessWhat!? " target="_blank">GuessWhat?!</a>.
                Ce jeu se déroule de la façon suivante. Le premier joueur
                (l’oracle) sélectionne un objet présent dans une scène visuelle. Le second
                joueur (l’interrogateur) regarde alors la scène et pose des
                questions à l’oracle afin de déterminer l’objet qu’il a choisi.
                Ce projet est un moyen original et amusant de démontrer les capacités des
                dernières avancées de la recherche en intelligence artificielle en
                les joignant au domaine de la robotique.
              </p>

              <p>
                L'engin GuessWhat?! est le fruit des travaux
                de recheche du consortium <a href="https://iglu-chistera.github.io/" alt="Site officiel IGLU" target="_blank">IGLU</a>. Le robot utilisé se
                nomme IRL-1 et provient du laboratoire de recherche en robotique
                <a href="https://introlab.3it.usherbrooke.ca/mediawiki-introlab/index.php/Main_Page" alt="Site officiel IntRoLab" target="_blank">IntRoLab</a> de l'<a href="https://www.usherbrooke.ca/" alt="Site officiel UdeS" target="_blank">Université de Sherbrooke</a>.
              </p>

              <p class="abstract-paragraph">
                Pour plus d'information, veuillez consulter la <a href="/abstract_devine.pdf">fiche descriptive officielle du projet</a>.
              </p>

              <img class="irl1-about circle" src="img/irl1.jpg" height="200px" alt="IRL1">

            </div>
        </div>
    </section>
