<!-- Client Section -->
<section id="client" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Les clients</h1>
            <ul class="list-inline team-list">
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="http://www.gel.usherbrooke.ca/rouat/" alt="Jean Rouat" target="_blank">
                            <img src="img/JeanRouat.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Jean Rouat
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="http://www.gel.usherbrooke.ca/necotis/membre/simon-brodeur/" alt="Simon Brodeur" target="_blank">
                            <img src="img/SimonBrodeur.jpeg">
                          </a>
                        </div>
                        <div class="card-content">
                            Simon Brodeur
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="http://francoisferland.com" alt="François Ferland" target="_blank">
                            <img src="img/FerlandFrancois.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            François Ferland
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
