<section id="collab" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Collaborateurs</h1>
            <ul class="list-inline collab-list">
              <li>
                <div class="img-collab">
                  <a href="https://iglu-chistera.github.io/" alt="Site officiel IGLU" target="_blank">
                    <img src="img/logoIGLU.png" class="logo-IGLU responsive-img" alt="logo IGLU">
                  </a>
                </div>
              </li>

              <li>
                <div class="img-collab">
                  <a href="https://introlab.3it.usherbrooke.ca/mediawiki-introlab/index.php/Main_Page" alt="Site officiel IntRoLab" target="_blank">
                    <img src="img/logoIntrolab.png" class="logo-Introlab responsive-img" alt="logo IntRoLab">
                  </a>
                </div>
              </li>

              <li>
                <div class="img-collab">
                    <a href="https://guesswhat.ai" alt="Site officiel du jeu GuessWhat!?" target="_blank">
                      <img src="img/logoGuesswhat.png" class="logo-guesswhat responsive-img" alt="Logo GuessWhat!?">
                  </a>
                </div>
              </li>

              <li>
                <div class="img-collab">
                    <a href="https://www.gel.usherbrooke.ca/necotis/" alt="Site officiel de NECOTIS" target="_blank">
                      <img src="img/logoNecotis.png" class="logo-necotis responsive-img" alt="Logo NECOTIS">
                  </a>
                </div>
              </li>

              <li>
                <div class="img-collab">
                    <a href="https://www.usherbrooke.ca/" alt="Site officiel UdeS" target="_blank">
                      <img src="img/udes.svg" class="responsive-img" alt="udes-logo">
                  </a>
                </div>
              </li>

            </ul>
        </div>
    </div>
</section>
