    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Nous joindre</h1>

                <p>Pour devenir partenaire du projet ou pour toute autre information,<br>vous pouvez entrer en contact facilement avec notre équipe!</p>
          
                <p class="hide-on-small-only">
                    <a class="email-adress" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a>
                </p>

                <p class="hide-on-med-and-up">
                    <a class="btn-floating btn-large waves-effect waves-light blue" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
                </p>

                <!-- <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul> -->
            </div>
        </div>
    </section>
