<section id="event" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Évènements à venir</h1>
          <ul class="list-inline collab-list">
            <li>
              <div class="img-event img-event-1">
                <a href="https://www.megageniale.usherbrooke.ca/" alt="Site officiel MégaGÉNIALE" target="_blank">
                  <img src="img/logo-megageniale.png" class="logo-MEGAGENIALE responsive-img" alt="logo MégaGÉNIALE">
                </a>
                <div>
                  <h3><b>MégaGÉNIALE</b></h3>
                  <h4>
                    Les 28 et 29 novembre,</br>
                    au Centre culturel de</br>
                    l'Université de Sherbrooke.
                  </h4>
                </div>
              </div>
            </li>

            <li>
              <div class="img-event img-event-2">
                <a href="https://nips.cc/Conferences/2018/Schedule?showEvent=12165" alt="Site officiel NIPS" target="_blank">
                  <img src="img/NIPS.png" class="logo-NIPS responsive-img" alt="logo NIPS">
                </a>
                <div>
                  <h3><b>NIPS 2018</b></h3>
                  <h4>
                    Le 5 décembre,</br>
                    au Palais des Congrès</br>
                    de Montréal.
                  </h4>
                </div>

              </div>
            </li>
          </ul>

        </div>
    </div>
</section>
