<section id="partners" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>Partenaires</h1>

            <h2 class="gold"><i class="fa fa-certificate"></i> Or</h2>
            <img class="separator responsive-img" src="img/separator.png">

            <div class="partners">
              <ul class="list-inline collab-list">
                <li>
                  <div class="img-partners">
                    <a href="https://www.bell.ca/" alt="Site officiel de Bell" target="_blank">
                      <img class="partner-img partner-img-bell responsive-img" src="img/logoBell.png">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="img-partners">
                    <a href="https://www.tuquegames.com/" alt="Site officiel de Tuques Games" target="_blank">
                      <img class="partner-img partner-img-tuquesgames responsive-img" src="img/logoTuqueGames.png">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="img-partners">
                    <a href="https://www.heyday.ai/" alt="Site officiel Technologies Heyday Inc." target="_blank">
                      <img class="partner-img partner-img-heyday responsive-img" src="img/logoHeyDay.png">
                    </a>
                  </div>
                </li>
              </ul>
            </div>

            <h2 class="silver"><i class="fa fa-certificate"></i> Argent</h2>
            <img class="separator responsive-img" src="img/separator.png">
            <div class="partners">
              <a href="http://direxyon.com/" alt="Site officiel Direxyon Technologies" target="_blank">
                <img class="partner-img partner-img-direxyon responsive-img" src="img/logoDirexyon.png">
              </a>
            </div>

            <h2 class="bronze"><i class="fa fa-certificate"></i> Bronze</h2>
            <img class="separator responsive-img" src="img/separator.png">
            <div class="partners">
                <h3><i class="fa fa-picture-o"></i> Votre logo pourrait être ici!</h3>
            </div>
        </div>
</section>
