<!-- Contact Section -->
<section id="team" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h1>L'équipe</h1>
            <ul class="list-inline team-list">
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/tihbe/" alt="Ismael Balafrej" target="_blank">
                            <img src="img/ismael.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Ismael Balafrej
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/juliencbeaupre/" alt="Julien Chouinard-Beaupré" target="_blank">
                            <img src="img/julien.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Julien Chouinard-Beaupré
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/felix-labelle/" alt="Félix Labelle" target="_blank">
                            <img src="img/felixL.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Félix Labelle
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/adam-letourneau/" alt="Adam Létourneau" target="_blank">
                            <img src="img/adam.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Adam Létourneau
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/felixmartel/" alt="Félix Martel-Denis" target="_blank">
                            <img src="img/felixM.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Félix Martel-Denis
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/%C3%A9ric-matte-91b389a9/" alt="Éric Matte" target="_blank">
                            <img src="img/eric.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Éric Matte
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/antoine-mercier-218227a2/" alt="Antoine Mercier-Nicol" target="_blank">
                            <img src="img/antoine.png">
                          </a>
                        </div>
                        <div class="card-content">
                            Antoine Mercier-Nicol
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-image">
                          <a href="https://www.linkedin.com/in/jordanprincet/" alt="Jordan Prince Tremblay" target="_blank">
                            <img src="img/jordan.jpg">
                          </a>
                        </div>
                        <div class="card-content">
                            Jordan Prince Tremblay
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
