<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include code.html %}
    {% include event.html %}

    <div class="parallax-container z-depth-1">
        <div class="parallax"><img src="img/intro-bg.jpg"></div>
    </div>

    {% include collab.html %}
    {% include partners.html %}

    <div class="parallax-container z-depth-1">
        <div class="parallax"><img src="img/intro-bg.jpg"></div>
    </div>

    {% include contact.html %}
    {% include team.html %}
    {% include client.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
